.activeMenuItem {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    border: 1px dashed #fff;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.layout-header {
  background: linear-gradient(to right, hsl(212, 70%, 40%), #4994ec);
}
